/*--- Avanquest WebEasy Page Style ---*/


.cc04               { /* Common */
	
div#e6              { /* {enter company profile\ ... */
	text-align      : left;
	background-color: transparent;
	position        : absolute;
	left            : 294.00pt;
	top             : 353.25pt;
	width           : 345.75pt;
	height          : 174.75pt;
