/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	top; 40.00pt;
	
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main styles */
main {
    padding: 20px;
}

/* Slideshow styles */
.slideshow {
    width: 100%;
    max-width: 500px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.4s ease;
}

.slides img {
    width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
